/* Put sidebar on the left side of the page. Article area floats to the right. */
:root 
{
  
}
header, nav, footer {padding-left:20%;}
article, aside {float:right}
article {clear:right;}
aside{margin-right:0;}



