article{float:right;}
aside{float:left;}

article{margin-right:15%;}
article{padding-left:0;margin-left:0;}
article{width:var(--alt-article-column-width);}

aside{margin-left:10%;}
aside{padding-left:0;}
