article{float:right;}

article{padding-left:0;}
/* With sidebar to left no padding is needed  */
article{margin-left:0;}
article {width:var(--alt-article-column-width);}

/* Compute this as follows: */

article{margin-right:22.5%}
article{padding-left:0;}

/* ASIDE */
aside{margin-left:var(--left-margin);}
