:root 
{

  /* The following should add up to 100%:
   * --article-width
	 * --sidebar-width
   * --left-margin
   * --right-margin
   */
  --left-margin:10%;
  --right-margin:10%;
	--article-width:60%; 
	--sidebar-width:20%;    

  /* Normally --center-column-width
   * is the sum of 
   * --article-width and --sidebar-width */
  --center-column-width:80%;

  /* Sort of specialized. You can use this to
   * ensure that the header, nav, article, and footer
   * all start text at the same position so
   * they line up properly. Don't have to assign
   * it to all of them.*/
  --text-start: 4rem;

	/* Header, nav, and footer stretch all the way across
	 * the screen at 100%. To create a pillar-style theme
	 * (wth gaps aka margins on either side)
	 * reduce that number, then increase --left-gap
	 * and --right-gap. 
	--full-page:100%; 
  */
	/* Making these larger than 0 and --full-page < 100% creates
	 * a pillar theme, or one that doesn't stretch the header
	 * and footer all the way across the page.
	 * When --full-page is 100% these should be at 0.
	 * When --full-page is less than 100% then these
	 * two should add up to the difference. 
	--left-gap:0%;
	--right-gap:0%;
  */

	/* Starting point from left where text (and by default headers) appears 
	--left-start:10%;
  */

	/* Only for Pillar-style themes: Space between the right edge of the article and the right edge of text 
	--right-end:5%;
  */

	/* Adjusts header height and keeps it vertically centered */
	--header-height:8rem;

	/* Size of the main text in the header. */
	--branding-height:4rem;

	/* Adjusts navbar height and keeps it vertically centered */
	--nav-height:5rem;

}

header > p {color:var(--header-fg);background-color:var(--header-bg);font-size:var(--branding-height);font-weight:700;display:inline;} 

 
