:root 
{

  --article-column-width:65%;
	--sidebar-width:15%;    
  --left-margin:10%; 
  --right-margin:10%;
  --header-footer-width:80%;
  --text-start: 5%;

	/* Adjusts header height and keeps it vertically centered */
	--header-height:8rem;

	/* Size of the main text in the header. */
	--branding-height:4rem;

	/* Adjusts navbar height and keeps it vertically centered */
	--nav-height:5rem;

}

 
