/* STANDARD LAYOUT */
html,body,nav,header,article,footer{float:left;height:auto;clear:both;display:block;max-width:100%;width:100%;overflow:auto;color:var(--fg);background-color:var(--bg);}

article {width:40em;}
pre,code,pre>code,hr{width:50em;}
ipre>code{width:50em;}
aside {width:20em;}
