:root 
{

  /* Width of the article--the main portion 
   * of the client area.
   * Helps determine dimensions of header
   * and footer. */
	--center-column-width:75%; 

  /* Sidebar width */
	--sidebar-width:25%;    

  /* Use this to ensure that the
   * that the header, nav, article, and footer
   * all start text at the same position so
   * they line up properly. Don't have to assign
   * it to all of them.*/
  --text-start: 4rem;

	/* Adjusts header height and keeps it vertically centered */
	--header-height:8rem;

	/* Size of the main text in the header. */
	--branding-height:4rem;

	/* Adjusts navbar height and keeps it vertically centered */
	--nav-height:5rem;

}

header > p {color:var(--header-fg);background-color:var(--header-bg);font-size:var(--branding-height);font-weight:700;display:inline;} 

 
