/* Put article on the left and sidebar on the right */
aside{float:left;}
aside{width:20%;margin-right:0%;}
/* ************** DO NOT DELETE. SIDEBAR-RIGHT WORKS FOR WIDE THEME **************** */

article{width:60%;}
