/* Put sidebar on the left and article on the right */
article{float:right;}
aside{float:left;}

iiaside{margin-left: var(--text-start);}
aside{padding:0;}
aside{margin-left:var(--left-margin);}
article{width:65%;}

