:root 
{

  /* The following should add up to 100%:
   * --center-column-width
	 * --sidebar-width
   * --left-margin
   * --right-margin
   */


  /* Example for Pillar-style, with empty columns on each side
  --center-column-width:65%;
	--sidebar-width:15%;    
  --left-margin:10%; 
  --right-margin:10%;
  --header-footer-width:80%;
  --text-start: 5%;
  */


  /* Example for Wide style, which stretches across the page
  --center-column-width:80%;
	--sidebar-width:20%;    
  --left-margin:0%;
  --right-margin:0%;
  --header-footer-width:100%;
   */

  /* Second Pillar example with wider sidebar 
  --center-column-width:60%;
	--sidebar-width:20%;    
  --left-margin:5%; 
  --right-margin:15%;
  --header-footer-width:80%;
  --text-start: 5%;
   */

  /* Blank column to left of client area 
  --left-margin:0%;
   * */

  /* Blank column to left of right of area 
  --right-margin:0%;
  */

  /* Width of main part of client area, the article
	--center-column-width:60%; 
  */

  /* Sidebar width 
	--sidebar-width:20%;    
  */
  /* Usually you want the header and the footer to
   * match. This makes them the same width.
   */
  --header-footer-width:100%;

  /* Sort of specialized. You can use this to
   * ensure that the header, nav, article, and footer
   * all start text at the same position so
   * they line up properly. Don't have to assign
   * it to all of them.*/
  --text-start: 10%;

	/* Adjusts header height and keeps it vertically centered */
	--header-height:8rem;

	/* Size of the main text in the header. */
	--branding-height:4rem;

	/* Adjusts navbar height and keeps it vertically centered */
	--nav-height:5rem;

  /* Pillar - works
  --center-column-width:65%;
	--sidebar-width:15%;    
  --left-margin:10%; 
  --right-margin:10%;
  --header-footer-width:80%;
  --text-start: 5%;
  */


  /* Wide 
  --center-column-width:80%;
	--sidebar-width:20%;    
  --left-margin:0%;
  --right-margin:0%;
  --header-footer-width:100%;
   */

  /* Pillar - experimental
  */
  /* To widen the sidebar from 15% to 20%,
   * increase right margin from 10% to 15%
   * and decrease left margin from 10% to 5%
  --center-column-width:60%;
	--sidebar-width:20%;    
  --left-margin:5%; 
  --right-margin:15%;
  --header-footer-width:80%;
  --text-start: 5%;
   */


}

header > p {color:var(--header-fg);background-color:var(--header-bg);font-size:var(--branding-height);font-weight:700;display:inline;} 

 
